.mapContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: scale(1.5);
  left: 30%;
  top: -200px;
}

/* Tablet size */
@media (max-width: 1023px) {
  .mapContainer {
    top: -100px;
  }
}

/* Small size */
@media (max-width: 767px) {
  .mapContainer {
    top: 50vh;
    left: 40vh;
    scale: 2;
  }
}
