.agendaCard {
  position: relative;
  transition: 0.1s ease-in-out;
  background: rgba(255, 255, 255, 0.1);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.agendaCard:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* TODO CHECK AGENDA ACTIVE */

.agendaCardActive {
  background: var(--mantine-color-gray-0) !important;
  color: var(--mantine-color-black) !important;
}
