html {
  width: 100vw;
  overflow-x: hidden;
}

[data-mantine-color-scheme="light"] html {
  background: var(--mantine-color-gray-0) !important;
}

[data-mantine-color-scheme="dark"] html,
body {
  background: #0d0d17 !important;
  color: #eaeaea;
}
